@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    background-color: #f0f8fd;
}

.main_page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content ;
    display: grid;
  
}

i{
    cursor: pointer;
}

/* ----------------left-------------- */

.left{
    /* grid-column: 1/2; */
    /* grid-row: 1/2; */
    background-color: #1aa1f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_content div{
    display: flex;
    align-items: center;
    margin: 4em;
    color: #fff;
}
.left_content i{
    font-size: 3rem;
    margin-right: 2rem;
}

.left_content_heading{
    font-size: 2rem;
}


/* ------------right------------------ */

.right{
    /* grid-column: 2/-1;
    grid-row: 1/2; */
    position: relative;
}

.right_content_form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.right_content_form div{
    position: relative;
}
.right_content_form input{
    width: 25rem;
    height: 4.5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    padding: 0 1rem;
    border: 0.1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: background-color 0.3s;
}

.right_content_form input:focus{
    background-color: #d9ebf7;
    outline: none;
}

.right_content_form label{
 position: absolute;
 top: 5.5rem;
 left: -70px;
 font-size: 1.6rem;
 font-weight: 300;
 color: #a7a6a6;
}

.top_btn {
    width: 8rem;
    background-color: #fff;
    color: #1aa1f5;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.top_btn:hover{
    background-color: #d9ebf7;
}
.middle_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.middle_content i{
    font-size: 4rem;
    color: #1aa1f5;
    margin-bottom: 2rem;
    margin-left: 15rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.middle_content i:hover{
    background-color:#1aa1f5;
    color: #fff;
}
.middle_content h1{
    font-size: 2.8rem;
    margin-bottom: 4rem;
    line-height: 3rem;
}
.middle_content h4{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.middle_content button{
    width: 35rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    border:  0.1rem solid #1aa1f5;
    border-radius: 4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup_btn{
    background-color: #1aa1f5;
    color: #fff;
}
.signup_btn:hover{
    background-color: #0f5d8d;
}
.login_btn{
    background-color: #fff;

}
.login_btn:hover{
    background-color:#d9ebf7;
}


/* -----------------footer--------------- */

.main_page_footer{
    grid-column: 1/-1;
    grid-row: 02/-1;
    background-color: #f5f4f4;
    padding: 1.5rem;
    border-top: 0.1rem solid #ddd;

}
.main_page_footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.main_page_footer ul li{
    border-radius: 0.5rem;
    margin: 0.5rem;
}
.main_page_footer ul li:hover{
    background-color:#ffffff ;
}
.main_page_footer a{
    font-size: 1.6rem;
    margin: 0 2rem;
    text-decoration: none;
    color: #444;
    font-weight: 300;
}


/* -------------------css for login page-------------------- */

.login_page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-row-gap: 1.5rem;
    display: none;
}

.login_page_nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #fff;
    padding: 2.5rem 0;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.login_page_nav ul{
    width: 100rem;
    margin: auto;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

.login_page_nav a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}

.login_page_nav li{
margin: 0 1rem;
position: relative;
}

.login_page_nav li:last-child{
    margin-left: auto;
}
.login_page_nav li::after{
   content: "";
   width: 100%;
   height: 0.4rem;
   background-color: #1aa1f5;
   position: absolute;
   bottom: -2.5rem;
   left: 0;
   opacity: 0;
   transition: background-color 0.3s;
}
.login_page_nav li:hover::after{
    opacity: 1;
}

.login_page_nav a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #555;
}
.login_page_nav i{
    color: #1aa1f5;
    font-size: 3rem;
}


.login{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #fff;
    width: 100rem;
    display: grid;
    grid-template-columns: 10rem 8fr;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.3);
}

.login_content{
 grid-column:  2/-1;
 grid-row: 1/2;
 padding: 5rem 0 1rem 0;
}

.login_content h2{
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.login_form input:not(.login_form_checkbox){
    background-color: #ecf3f9;
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}
.login_form input:focus{
    background-color: #d9ebf7;
}
.login_form div{
    margin-top: 2rem;
}
.login_form button{
    padding: 1rem 1.5rem;
    background-color: #1aa1f5;
    color: #fff;
    border-radius: 4rem;
    border: 0.1rem solid #1aa1f5;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
}

.login_form label{
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: 1rem;
}
.login_form a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #1aa1f5;
}
.login .login_footer{
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: #edf3f7;
    padding-left: 10rem;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.login_footer p{
 font-size: 1.6rem;
 font-weight: 300;
 margin: 0.5rem 0;
}

.login_footer a{
 text-decoration: none;
 color: #1aa1f5;
}



/* -------login modal----- */
.login_modal{
   position: fixed;
   top: 11.5rem;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   width: 70rem;
   padding: 2rem;
   text-align: center;
   box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
   border-radius: 0 0 1rem 1rem;
   display: none;

}

.login_modal i{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.3rem;
    color: #868383;
    cursor: pointer;
}

.login_modal p{
    margin: 2rem 1rem 0 1rem;
    font-size: 1.6rem;
    color: #868383;
}


/* -------------New feed page------------------ */

.feeds_page{
    width: 100%;
    height: 100vh;
    display: none;
}

.feeds_nav{
    position: fixed;
    width: 100%;
    height: 6.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.icons{
    display: flex;
    align-items: center;
}

.icons a{
    text-decoration: none;
    margin-right: 7rem;
    font-size: 2.5rem;
    color: #9e9a9e;
}

.icons .active{
    color: #1aa1f5;
}

.search_bar{
    display: flex;
    align-items: center;
    position: relative;
}

.search_bar_input{
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding: 0 1rem 0 4rem;
}

.search_bar_input:focus{
    background-color: #fff;
    border-color: #1aa1f5;
}
.search_bar i{
    position: absolute;
    font-size: 1.6rem;
    left: 1.5rem;
    color: #9e9a9a;
}

.user{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user_img_wrapper{
    width: 4rem;
    height: 4rem;
}
.user_img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user_link{
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #444;
}

.user i{
    font-size: 1.6rem;
    color: #444;
}


/* -----------feeds content----------- */

.feeds_content{
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 6.5rem;
}
.feeds_header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #fff;
    margin-top: 1.5rem;
}

.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #eee;
    padding: 1.5rem;
}

.header_top h4{
    font-size: 2.2rem;
    
}
.header_top i{
    font-size: 2.2rem;
    color: #1aa1f5;
}

.header_post{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.header_img_wrapper img{
    width:40px;
    height: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.header_post input{
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding: 0.4rem 1.5rem;
}

.header_post i{
    font-size: 2.5rem;
    color: #1aa1f5;
    margin: 2rem;
}

.posts{
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: #fff;
}

.user_avatar{
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
}
.user_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post_user_info{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.post_user_info h4{
    font-size: 1.6rem;
    margin-right: 0.5rem;
}
.post_user_info i{
    font-size: 1.6rem;
    color: #1aa1f5;
    margin-right: 0.5rem;
}
.post_user_info span{
    font-size: 1.6rem;

}

.post_text{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.post{
    display: flex;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
    
}

.post_img{
    width: 48rem;
    height: 30rem;
}
.post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.post_icons{
    margin-top: 1rem;
}
.post_icons i{
    font-size: 1.8rem;
    color: #868383;
    margin-right: 6rem;
}

.follow{
    position: fixed;
    top: 8rem;
    left: 57%;
    background-color: #fff;
    width: 35rem;
}

.follow_heading{
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #eee;
}

.follow_users{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
}

.follow_user_img{
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}

.follow_user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow_user_info h4, .follow_user_info p{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.follow_btn{
    margin-left: auto;
    width: 9rem;
    background-color: #fff;
    color: #1aa1f5;
    padding: 0.7rem 0.5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.follow_link{
    margin: 2rem 1rem;
}

.follow_link a{
    text-decoration: none;
    color: #1aa1f5;
    font-size: 1.5rem;
}

.follow_footer{
    background-color: #f0f8fd;
}

.follow_footer ul{
    list-style: none;
    display: flex;
    padding: 2rem 0;
}

.follow_footer a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #868383;
    margin: 0 0.7rem;
}


/* -----post button---- */

.post_btn{
    position: fixed;
    bottom: 2rem;
    left: 70%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 2rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
}

.post_btn:hover{
    background-color: #1584c9;
}